/* Custom Styles */
body {
  font-family: 'Arial', sans-serif;
}

input {
  font-size: 1.1rem;
}

button {
  font-size: 1.1rem;
  font-weight: bold;
}

img {
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.1);
}